repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
    - repo: https://github.com/golangci/golangci-lint
      rev: v1.46.2
      hooks:
      - id: golangci-lint
    - repo: https://github.com/dnephin/pre-commit-golang
      rev: v0.5.0
      hooks:
      - id: go-fmt
      - id: go-unit-tests
      - id: go-mod-tidy
    - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
      rev: v8.0.0
      hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']
